<!-- Education-->
<div id="education" class="education">
  <section class="timeline">
    <div class="wrap">
      <div id="education"></div>
      <div class="section-title wow fadeInUp">
        <br />
        <br />
        <h1>Education</h1>
        <span class="border"></span>
      </div>
    </div>
    <div class="column">
      <div class="row">
        <div class="text">
          <h3>Holy Angel University</h3>
          <p>
            <li>
              Bachelor of Science in Information Technology Major in Web
              Development
            </li>
            <li>President's Lister 1st Semester (2022-2023)</li>
            <li>President's Lister 1st & 2nd Semester (2021-2022)</li>
            <li>President's Lister 1st Semester (2020-2021)</li>
            <li>
              Cisco Networking Academy Introduction to Cybersecurity Certificate
            </li>

            <li>
              Cisco Networking Academy Introduction to Packet Tracer Certificate
            </li>
          </p>
        </div>
        <div class="icon">
          <div>
            <i class="bi bi-1-circle-fill"></i>
          </div>
        </div>
        <div class="time">
          <time>2020/Present</time>
        </div>
      </div>
      <div class="row">
        <div class="text">
          <h3>Holy Angel University</h3>
          <p>
            Senior High School Graduate
            <li>STEM Strand</li>
            <li>Mr Intrams 2nd runner-up</li>
          </p>
        </div>
        <div class="icon">
          <div>
            <i class="bi bi-patch-check-fill"></i>
          </div>
        </div>
        <div class="time">
          <time>2018/2020</time>
        </div>
      </div>
      <div class="row">
        <div class="text">
          <h3>Don Bosco Academy</h3>
          <p>
            <li>Academic Awardee</li>
            <li>Conduct Awardee</li>
          </p>
        </div>
        <div class="icon">
          <div>
            <i class="bi bi-patch-check-fill"></i>
          </div>
        </div>
        <div class="time">
          <time>2014/2018</time>
        </div>
      </div>
      <br /><br />
      <h3>Schools I attended</h3>
      <br />
      <ul>
        <li *ngFor="let item of achievements1">
          {{ item }}
        </li>
      </ul>
    </div>
  </section>
</div>
<!-- END of Education-->
