<div class="about">
  <div class="portfoliocard">
    <div id="about"></div>
    <div class="coverphoto"></div>
    <div class="profile_picture"></div>
    <div class="left_col">
      <div class="followers">
        <div class="follow_count">I am</div>
        a person that aspires to be one of the best Full Stack Developers, I
        am hardworking and very passionate when it comes to my craft. Current
        a Third Year student, enrolled in the course of Bachelor of Science of
        Information Technology that specializes in Website Development.
      </div>
      <div class="following">
        <div class="follow_count">Hoping</div>
        to be your employee, I would want to provide you with my experience
        and to also earn at the same time. I am a person that can be accounted
        in times of issues in your company. I assure you that I will do my
        best in all the tasks that you give me.
      </div>
    </div>
    <div class="right_col">
      <h2 class="name">Adrian Lee Sarabia</h2>
      <h3 class="location">Angeles City, Pampanga</h3>
      <ul class="contact_information">
        <li class="work">0997-182-1072</li>
        <li class="mail">adrianleesarabi@gmail.com</li>
        <li class="phone">0997-182-1072</li>
      </ul>
    </div>
  </div>
</div>