<!--Main Navigation-->
<header>
  <!-- Animated navbar-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <div id="home"></div>
  <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
    <div class="container-fluid">
      <button
        class="navbar-toggler ps-0"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="d-flex justify-content-start align-items-center">
          <i class="fas fa-bars"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#references">References</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Animated navbar -->
</header>

<!--HOME-->
<head>
  <title>Angular App by Sarabia</title>
</head>

<body>
  <!-- Header -->
  <a name="home"></a>
  <div class="intro-header">
    <div class="bg-overlay">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1>I am Adrian Lee Sarabia</h1>
              <h3>A Web Developer</h3>
              <hr class="intro-divider" />
              <div id="menu-outer">
                <div class="table">
                  <ul id="horizontal-list">
                    <li>
                      <a
                        href="https://www.facebook.com/adrianlee.sarabia/"
                        target="_blank"
                        class="btn btn-default btn-lg"
                        ><i class="fa fa-twitter fa-fw"></i>
                        <span class="network-name">Facebook</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://github.com/AdrianLeeSarabia"
                        target="_blank"
                        class="btn btn-default btn-lg"
                        ><i class="fa fa-github fa-fw"></i>
                        <span class="network-name">Github</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.instagram.com/alee.sarabia/"
                        target="_blank"
                        class="btn btn-default btn-lg"
                        ><i class="fa fa-linkedin fa-fw"></i>
                        <span class="network-name">Instagram</span></a
                      >
                    </li>
                    <li>
                      <a href="" target="_blank" class="btn btn-default btn-lg"
                        ><i class="fa fa-free-code-camp fa-fw"></i>
                        <span class="network-name">Gmail</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>
  <!-- /.intro-header -->

  <body>
    <div class="portfoliocard">
      <div id="about"></div>
      <div class="coverphoto"></div>
      <div class="profile_picture"></div>
      <div class="left_col">
        <div class="followers">
          <div class="follow_count">I am</div>
          a person that aspires to be one of the best Full Stack Developers, I
          am hardworking and very passionate when it comes to my craft. Current
          a Third Year student, enrolled in the course of Bachelor of Science of
          Information Technology that specializes in Website Development.
        </div>
        <div class="following">
          <div class="follow_count">Hoping</div>
          to be your employee, I would want to provide you with my experience
          and to also earn at the same time. I am a person that can be accounted
          in times of issues in your company. I assure you that I will do my
          best in all the tasks that you give me.
        </div>
      </div>
      <div class="right_col">
        <h2 class="name">Adrian Lee Sarabia</h2>
        <h3 class="location">Angeles City, Pampanga</h3>
        <ul class="contact_information">
          <li class="work">0997-182-1072</li>
          <li class="mail">adrianleesarabi@gmail.com</li>
          <li class="phone">0997-182-1072</li>
        </ul>
      </div>
    </div>
  </body>
  <!--End of About-->

  <!-- Education-->
  <div id="education"></div>
  <section class="timeline">
    <div class="wrap">
      <div id="education"></div>
      <div class="section-title wow fadeInUp">
        <h1>Education</h1>
        <span class="border"></span>
      </div>
    </div>
    <div class="column">
      <div class="row">
        <div class="text">
          <h3>Holy Angel University</h3>
          <p>
            <li>
              Bachelor of Science in Information Technology Major in Web
              Development
            </li>
            <li>President's Lister 1st Semester (2022-2023)</li>
            <li>President's Lister 1st & 2nd Semester (2021-2022)</li>
            <li>President's Lister 1st Semester (2020-2021)</li>
            <li>
              Cisco Networking Academy Introduction to Cybersecurity Certificate
            </li>

            <li>
              Cisco Networking Academy Introduction to Packet Tracer Certificate
            </li>
          </p>
        </div>
        <div class="icon">
          <div>
            <i class="bi bi-1-circle-fill"></i>
          </div>
        </div>
        <div class="time">
          <time>2020/Present</time>
        </div>
      </div>
      <div class="row">
        <div class="text">
          <h3>Holy Angel University</h3>
          <p>
            Senior High School Graduate
            <li>STEM Strand</li>
            <li>Mr Intrams 2nd runner-up</li>
          </p>
        </div>
        <div class="icon">
          <div>
            <i class="bi bi-patch-check-fill"></i>
          </div>
        </div>
        <div class="time">
          <time>2018/2020</time>
        </div>
      </div>
      <div class="row">
        <div class="text">
          <h3>Don Bosco Academy</h3>
          <p>
            <li>Academic Awardee</li>
            <li>Conduct Awardee</li>
          </p>
        </div>
        <div class="icon">
          <div>
            <i class="bi bi-patch-check-fill"></i>
          </div>
        </div>
        <div class="time">
          <time>2014/2018</time>
        </div>
      </div>
    </div>
  </section>
  <!-- END of Education-->

  <!--Skills-->
  <div class="wrap">
    <div id="skills"></div>
    <div class="section-title wow fadeInUp">
      <h1>My Skills</h1>
      <span class="border"></span>
    </div>
    <article class="row">
      <ul>
        <li class="html">
          <em>HTML/HTML5</em>
          <div>
            <span class="animated fadeInLeft"></span>
          </div>
        </li>
        <li class="css">
          <em>CSS/CSS3</em>
          <div>
            <span class="animated fadeInLeft"></span>
          </div>
        </li>
        <li class="php">
          <em>PHP/OOP</em>
          <div>
            <span class="animated fadeInLeft"></span>
          </div>
        </li>
        <li class="mysql">
          <em>MYSQL</em>
          <div>
            <span class="animated fadeInLeft"></span>
          </div>
        </li>
      </ul>
    </article>
    <article class="row">
      <ul>
        <li class="jquery">
          <em>PYTHON</em>
          <div>
            <span class="animated fadeInLeft"></span>
          </div>
        </li>
        <li class="javascript">
          <em>JAVASCRIPT</em>
          <div>
            <span class="animated fadeInLeft"></span>
          </div>
        </li>
        <li class="seo">
          <em>DART</em>
          <div>
            <span class="animated fadeInLeft"></span>
          </div>
        </li>
        <li class="unix">
          <em>EDITING</em>
          <div>
            <span class="animated fadeInLeft"></span>
          </div>
        </li>
      </ul>
    </article>
  </div>
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic"
    rel="stylesheet"
    type="text/css"
  />
  <div class="wrap">
    <div id="references"></div>
    <div class="section-title wow fadeInUp">
      <h1>References</h1>
      <span class="border"></span>
    </div>
  </div>
  <section class="t-bq-section" id="paul">
    <div class="t-bq-wrapper t-bq-wrapper-boxed">
      <div class="t-bq-quote t-bq-quote-paul">
        <div class="t-bq-quote-paul-userpic"></div>
        <div class="t-bq-quote-paul-qmark">&#10077;</div>
        <div class="t-bq-quote-paul-pattern"></div>
        <div class="t-bq-quote-paul-base">
          <blockquote class="t-bq-quote-paul-text" icite="Strugatsky Brothers">
            Adrian and his team at the Lorem Ipsum Company whipped my website into shape just in time for tax season. I was excited by the results and am proud to direct clients to my website once again.
          </blockquote>
          <div class="t-bq-quote-paul-meta">
            <div class="t-bq-quote-paul-meta-info">
              <div class="t-bq-quote-paul-author">
                <cite>Seth Gewirtz</cite>
              </div>
              <div class="t-bq-quote-paul-source">
                <span>CEO, SNG Accountants</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="t-bq-section" id="jasper">
    <div class="t-bq-wrapper t-bq-wrapper-boxed">
      <div class="t-bq-quote t-bq-quote-jasper">
        <div class="t-bq-quote-jasper-pattern">
          <div class="t-bq-quote-jasper-qmark">&#10077;</div>
        </div>

        <div class="t-bq-quote-jasper-userpic"></div>

        <div class="t-bq-quote-jasper-base">
          <blockquote class="t-bq-quote-jasper-text" >
            From the start of the project, through to completion, Adrian supported us and exceeded our expectations in every way. Not only was our experience personal and friendly, his ability to identify and present our key messages in an imaginative and creative way gave us a huge amount of confidence in him. In many ways Warren understood our client's website needs better than we did and he complimented our vision perfectly. He's reliable, professional and easy to work with. I can’t recommend him highly enough and we look forward to continuing our working relationship together.
          </blockquote>
          <div class="t-bq-quote-jasper-meta">
            <div class="t-bq-quote-jasper-meta-info">
              <div class="t-bq-quote-jasper-author">
                <cite>Rob Darren</cite>
              </div>
              <div class="t-bq-quote-jasper-source">
                <span>Owner, Darren Espantos</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="t-bq-section" id="horace">
    <div class="t-bq-wrapper t-bq-wrapper-boxed">
      <div class="t-bq-quote t-bq-quote-horace">
        <div class="t-bq-quote-horace-qmark">&#10078;</div>

        <div class="t-bq-quote-horace-base">
          <blockquote class="t-bq-quote-horace-text" cite="Strugatsky Brothers">
            Professional, responsive, and able to keep up with ever-changing demand and tight deadlines: That's how I would describe Jeramy and his team at The Lorem Ipsum Company. When it comes to content marketing, you'll definitely get the 5-star treatment from the Lorem Ipsum Company!
          </blockquote>
          <div class="t-bq-quote-horace-meta">
            <div class="t-bq-quote-horace-userpic"></div>
            <div class="t-bq-quote-horace-meta-info">
              <div class="t-bq-quote-horace-author">
                <cite>Tara Fox</cite>
              </div>
              <div class="t-bq-quote-horace-source">
                <span>President of Fox Enterprises</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
